@model Animais_Carentes.Models.AgendamentoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AgendamentoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enderecoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enderecoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
