@model IEnumerable<Animais_Carentes.Models.OngModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    <div class="top-box">
        <div class="wrap">
            <div class="content-top">
                <div class="section group">
                    @foreach (var item in Model)
                    {
                        <div class="col_1_of_3 span_1_of_3">
                            <div class="grid_4">
                                <div class="box-1">
                                    <img src="~/Content/web/images/pic5.jpg" alt="" class="wrapper">
                                    <div class="inside">
                                        <h2 class="v1">@item.nome</h2>
                                        <p class="desc">Telefone: @item.telefone</p>
                                        <p class="desc">Email: @item.email</p>
                                        <p class="desc">Endereco: @item.bairro, @item.rua - @item.numero</p>
                                        <a href="~/Ong/Details/@item.cnpj"><div class="clearfix"><span class="box-btn"></span></div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-box">
    <div class="wrap">
        <h4 class="f-head">
            Lorem ipsum dolor
        </h4>
        <div id="slideshow">
            <div class="f-desc1">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
            </div>
            <div class="f-desc1">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
            </div>
        </div>
        <script>
                $("#slideshow > div:gt(0)").hide();
                setInterval(function () {
                    $('#slideshow > div:first')
                        .fadeOut(00)
                        .next()
                        .fadeIn(500)
                        .end()
                        .appendTo('#slideshow');
                }, 2000);
        </script>
    </div>
</div>